version: "3.9"

services:
  communication-service:
    build: .
    container_name: communication-service
    ports:
      - "8084:8084"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      MONGODB_URI: mongodb://mongo:27017/tutoring_communication
      REDIS_HOST: redis
      REDIS_PORT: 6379
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_SERVER_URL: http://eureka:8761/eureka/
      HUNDREDMS_MANAGEMENT_TOKEN: ${HUNDREDMS_MANAGEMENT_TOKEN}
      HUNDREDMS_APP_ACCESS_KEY: ${HUNDREDMS_APP_ACCESS_KEY}
      HUNDREDMS_APP_SECRET: ${HUNDREDMS_APP_SECRET}
      HUNDREDMS_TEMPLATE_ID: ${HUNDREDMS_TEMPLATE_ID}
    depends_on:
      - mongo
      - redis
      - kafka

  mongo:
    image: mongo:7
    container_name: communication-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    container_name: communication-redis
    ports:
      - "6379:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

volumes:
  mongo_data:
